
<div class="container" >
  <div>
    <div id="svghandle" class="someclass"  style="position: relative; height:60vh; width:120vw">
      <h2>Mi estacionamiento!</h2>
      <!--DAR DE ALTA-->
      <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)" >Asignar lugar</button>
      <!--COBRAR-->
      <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal_pago)">Cobrar</button>
    </div>
  </div>
</div>

<!--MODAL PARA DAR DE ALTA-->
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registre el ingreso del vehiculo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div name="posicion">
      Sección:
      <select class="form-control" (change)="setValueSeccion(seccion)" [(ngModel)]="seccion" required>
        <option>Elija una sección</option>
        <option *ngFor="let secciones of secciones" [value]="secciones">{{secciones}}</option>
      </select>
    </div>
    <div name="posicion">
      Posición:
      <select class="form-control" (change)="setValuePosicion(posicion)" [(ngModel)]="posicion" required>
        <option >Elija una posición</option>
        <option *ngFor="let posiciones of posiciones" [value]="posiciones">{{posiciones}}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');setEstacionamiento(posicion)">Ok</button>
  </div>
</ng-template>
<!--MODAL PARA COBRAR-->
<ng-template #mymodal_pago let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>














<!--ejemplos-->

<!-- OPCION 1 ANDA    
  <div name="posicion">
      Sección:
      <select class="form-select" [(ngModel)]="seccion" #ctrlSeccion="ngModel" required>
        <option >Elija una sección</option>
        <option *ngFor="let secciones of secciones" [value]="secciones">{{secciones}}</option>
      </select>
    </div>-->
